*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	white-space: pre;
  }


@font-face {
	font-family: 'Benzin-Bold';
	src: url('/fonts/benzin-bold/benzin-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/benzin-bold/benzin-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/benzin-bold/benzin-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/benzin-bold/benzin-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/benzin-bold/benzin-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/benzin-bold/benzin-bold.svg#benzin-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}


@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/gilory-medium/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/gilory-medium/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('/fonts/gilory-medium/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/gilory-medium/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('/fonts/gilory-medium/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/gilory-medium/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/Gilroy-Regular/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/Gilroy-Regular/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('/fonts/Gilroy-Regular/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/Gilroy-Regular/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('/fonts/Gilroy-Regular/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Gilroy-Regular/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/Gilroy-Bold/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/Gilroy-Bold/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('/fonts/Gilroy-Bold/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/Gilroy-Bold/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('/fonts/Gilroy-Bold/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Gilroy-Bold/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/Gilroy-SemiBold/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/Gilroy-SemiBold/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('/fonts/Gilroy-SemiBold/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/Gilroy-SemiBold/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('/fonts/Gilroy-SemiBold/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/Gilroy-SemiBold/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root{
	--main-color: rgba(56,5,242,1);
	--blue-color: rgba(56,5,242,0.50);
	--white-color:	rgba(255,255,255,1);
	--white40--color: rgba(255,255,255,0.40)
	--white30--color: rgba(255,255,255,0.30);
	--black-color: rgba(0,0,0,1);
	--black40-color: rgba(0,0,0,0.40);
	--black10-color: rgba(0,0,0,0.10);
	--gray-color: rgba(30,30,30,1);
	--grayDark-color: rgba(19,19,19,1);
	--gray30-color: rgba(39,36,36,0.30);
	--gray10-color: rgba(0,0,0,0.10);
	--main-front: "Benzin-Bold";
	--second-front: 'Gilroy-Medium';
	--text-front: 'Gilroy-Regular';
}

button{
	border:none;
	cursor: pointer;
	background: none;
}


body{
	background-color: var(--gray-color);
	font-family:var(--main-front);
}


.header{
	width: 100%;
	max-width: 320px;
	justify-content:space-between;
	display: flex;
	align-items: center;
	padding: 20px 15px 30px 15px;
}

.right_header{
	display: flex;
	align-items: center;
	justify-content: center;
}


.Social_Media{
	gap: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.burger_button{
	background-color: var(--main-color);
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.burger_button:active{
	background-color: var(--white-color);
	color: var(--main-color);
}


.Celestia{
	color:var(--white-color);
	font-size: 20px;
	margin: 0;
	width: 104px;
}

.icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 147px;
	height: 37px;
	gap: 8px;
}



.Container{
	height: 488px;
	gap: 10px;
	top: 87px;
	left: 15px;
	max-width: 290px;
    margin: 0 auto ;
}


.first_block{
	background-color: var(--white-color);
	color:black;
	width: 290px;
	height: 228px;
	border-radius: 20px;
	padding: 20px;
	display: grid;
	gap:20px;
	margin-bottom: 10px;
}


.firstBlockName{
	font-size: 20px;
	line-height: 110%;
	color: #1e1e1e;
}

.Celestia_body{
	color: var(--main-color);
}

.firstBlockText{
	font-family:var(--text-front) ;
	font-size: 12px;
	line-height: 140%;
	color: #1e1e1e;
}

.firstBlockButton{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	padding: 10px 20px;
	width: 131px;
	height: 31px;
	background-color: var(--main-color);
	font-family: var(--main-front);
	color: var(--white-color);
}


.second_block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 20px;
	padding: 20px;
	width: 290px;
	height: 80px;
	background-color: var(--main-color);
	color: var(--white-color);
	margin-bottom: 10px;
}
.secondBlockName {
	font-size: 20px;
	line-height: 110%;
	justify-content: center;
}
.secondtBlockText {
	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;
}
.second_TextName{
	display: flex;
	flex-direction: column;
}

.secondBlockButton {
	display: flex;
	flex-direction: column-reverse;
}	
.cyrcle_white {
	border-radius: 29px;
	background-color: var(--white-color);
	max-width: 30px;
	max-height: 30px;
}
.third_block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 20px;
	padding: 20px;
	width: 290px;
	height: 120px;
	background-color: var(--white-color);
	color: var(--black-color);
	margin-bottom: 10px;
}
.thirdBlockName {
	font-size: 20px;
	line-height: 110%;
	justify-content: center;
}
.thirdtBlockText {
	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;
}
.thirdBlockButton {
	display: flex;
	flex-direction: column-reverse;
}
.purple_white {
	border-radius: 29px;
	background-color: var(--main-color);
	width: 30px;
	height: 30px;
}


.AboutInfo {
	color: var(--white-color);
	display: flex;
	justify-content: center;
	gap: 10px;
}

.AboutInfo_Title {
	font-family: var(--main-front);
	font-size: 12px;
	line-height: 110%;
}
.AboutInfo_Text {
	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;
	text-align: center;
}

.AboutInfo_teleskop {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90px;
}	
.AboutInfo_programm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90px;
}
.AboutInfo_zalov {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90px;
}

.Events {
	margin-top: 80px;
}
.Events_header {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom:30px 0 80px;
	
}
.Events_button {
	display: flex;
	justify-content: center;
	margin: 30px ;
	gap:10px;
}

.Events_header_name {
	color:var(--white-color);
	font-size: 20px;
	line-height: 110%;
}
.Events_button_programm {
	border-radius: 20px;
	padding: 10px 14px;
	width: 94px;
	height: 37px;

	color:var(--white-color);
	background-color: var(--main-color);

	display: flex;
	justify-content: center;
	text-align: center;

	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;

}
.Events_button_activity {
	border-radius: 20px;
	padding: 10px 14px;
	width: 94px;
	height: 37px;

	color:var(--white-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0);

	display: flex;
	justify-content: center;
	text-align: center;
	
	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;
}
.Events_button_lection {
	border-radius: 20px;
	padding: 10px 14px;
	width: 94px;
	height: 37px;

	color:var(--white-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0);

	display: flex;
	justify-content: center;
	text-align: center;
	
	font-family: var(--text-front);
	font-size: 12px;
	line-height: 140%;
}

.Events_photo {	
	margin:10px 0 20px 0 ;
	align-items: center;
	position: relative;
}	
.Events_photo_age {
	color: var(--black-color);
	background-color: var(--white-color);
	font-family: var(--text-front);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
}
.Events_photo_picture {
	border-radius: 55px;
	width: 290px;
	height: 159px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Events_about_title {
	font-size: 10px;
	line-height: 140%;
	color:var(--white-color);
	font-family: var(--text-front);
	margin-bottom: 10px;
}
.Events_main_title {
	color:var(--white-color);
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 20px;
	white-space: pre-line;
	width: 179px;
}
.Events_about_programm {
	font-size: 12px;
	line-height: 140%;
	color: var(--white-color);
	font-family: var(--text-front);
	white-space: pre-line;
	margin-bottom: 20px;
}
.Events_cost {
	display: flex;
	gap: 40px;
	margin-bottom: 10px;
}
.Events_cost_children{
	display: flex;
	font-family:var(--text-front) ;
	color: var(--white-color);
	justify-content: center;
	align-items: center;
	gap:5px;

}
.Events_cost_people{
	display: flex;
	font-family:var(--text-front) ;
	color: var(--white-color);
	justify-content: center;
	align-items: center;
	gap:5px;
}

.Events_cost_icon {
	border-radius: 100%;
	background-color: var(--white-color);
	width: 25px;
	height: 25px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.Events_content_button {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}
.Events_content_button_select_data {
	font-family: var(--text-front);
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 100px;
	padding: 10px 14px;
	width: 138px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0);
	gap:10px;
}

.Events_content_button_select_data_active{
	border-radius: 2px;
	stroke-width: 1px;
	stroke: rgba(255, 255, 255, 0.4);
}
.Events_content_button_buy_ticket {
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: var(--white-color);
	background-color: var(--main-color);
	font-family: var(--main-front);
	border-radius: 100px;
	padding: 11px 14px;
	width: 138px;
	height: 41px;
}
.Events_show_more {
	border-radius: 31px;
	padding: 16px 20px;
	width: 290px;
	height: 46px;
	background-color: var(--white-color);
	color: var(--black-color);
	font-family: var(--main-front);
	align-items: center;
	display: flex;
	justify-content: center;
}

.Sales{
	margin-top:80px ;
	color: var(--white-color);
	
}

.Sales_name {
	display: flex;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
	line-height: 110%;
	text-align: center;
}

.Sales_block{
	border-radius: 0 53px 31px 31px;
	padding: 20px;
	width: 290px;
	height: 104px;
	background-color: var(--main-color);
	display: flex;
	flex-flow: column-reverse wrap;
	position: absolute;
	top: 178px
}

.Sales_block_name{
	font-size: 12px;
	line-height: 110%;
	white-space: pre-line;
	width: 140px;

}

.Sales_block_about{
	margin-top: 10px;
	font-family: var(--text-front);
	font-size: 10px;
	line-height: 140%;
	white-space: pre-line;
	width: 212px;
	gap:10px;	

}

.Sales_block_link{
	width: 28px;
	height: 28px;
	background-color: var(--main-color);
	border-radius: 16px;
	right: 0;
}

.Sales_block_link_a{
	width: 28px;
	height: 28px;
	display: flex;
	top: 100%
}


.Sales_button {
	margin-top: 30px;
	display: flex;
	justify-content:center;
	gap:10px;
}

.Sales_block_info{
	z-index: 1;
}

.Sales_block_img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 290px;
	height: 260px;
}

.Sales_block_all{
	position: relative;
	margin-top:30px;
}