@import url('font.css');


::selection{
    background-color: white;
    color: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

h1{
    margin: 0;
}

.line-break::before {
    content: "\A"; /* Символ новой строки */
    white-space: pre; /* Сохраняет пробелы и переносы */
}




:root {
    --main-color: rgba(56, 5, 242, 1);
    --blue-color: rgba(56, 5, 242, 0.5);
    --white-color: rgba(255, 255, 255, 1);
    --white40--color: rgba(255, 255, 255, 0.4);
    --white30--color: rgba(255, 255, 255, 0.3);
    --black-color: rgba(0, 0, 0, 1);
    --black40-color: rgba(0, 0, 0, 0.4);
    --black10-color: rgba(0, 0, 0, 0.1);
    --gray-color: rgba(30, 30, 30, 1);
    --grayDark-color: rgba(19, 19, 19, 1);
    --gray30-color: rgba(39, 36, 36, 0.3);
    --gray10-color: rgba(0, 0, 0, 0.1);
    --main-front: "Benzin-Bold";
    --second-front: 'Gilroy-Medium';
    --text-front: 'Gilroy-Regular';
}

p::selection {
    color: #fff;
    background-color: var(--main-color); 
}
button {
    border: none;
    cursor: pointer;
    background: none;
}

body {
    background-color: var(--gray-color);
    font-family: var(--main-front);
}
.Container{
    margin-left:15px ;
    margin-right: 15px;
}


@media (min-width: 1024px) {
    .Container {
        margin-left:142px ;
        margin-right: 142px;
    }
}



/* === Header === */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;
}

.right_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Social_Media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-right: 10px;
}

.burger_button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.burger_button:active {
    background-color: var(--white-color);
    color: var(--main-color);
}

.Celestia {
    font-size: 20px;
    margin: 0;
    color: var(--white-color);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header_tel{
    display: none;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
}

.header_but{
    border-radius: 100px;
    padding: 10px 30px;
    width: 157px;
    height: 42px;
    background-color: var(--white-color);
    font-family: var(--text-front);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--black-color);
    display: none;
}

@media (min-width: 1024px) {
    .header_tel{
        display: block;

    }
    .header_but{
        display: block;
    }
}

/* === Hero section === */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}

.first_block {
    padding: 20px;
    display: grid;
    flex-direction: column;
    min-width: 100%;
    gap: 20px;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
}



.firstBlockName {
    font-size: 20px;
    line-height: 1.1;
    color: var(--gray-color);
}

.Celestia_body {
    color: var(--main-color);
}

.firstBlockText {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--gray-color);
}

.firstBlockButton {
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-family: var(--main-front);
    font-size: 12px;
    line-height: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBlockButton{
    width: fit-content;
    height: fit-content;
    place-self: flex-end;
}

.second_block {
    padding: 20px;
    border-radius: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    min-width: 290px;
    flex-direction: column;
}

.second_TextName {
    display: flex;
    flex-direction: column;
}

.secondBlockName {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 1px;
}

.secondBlockText {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
}

.third_block {
    margin-top:10px ;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    width: 100%;;
}


.center_header{
    display: none;
}
.third_TextName {
    max-width: 110px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.thirdBlockName {
    font-size: 20px;
    line-height: 1.1;
    justify-content: center;
    margin-bottom:10px ;
}

.thirdtBlockText {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
}

.thirdBlockButton {
    width: fit-content;
    height: fit-content;
    place-self: flex-end;
}





.AboutInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
}

.AboutInfo_Title {
    font-size: 12px;
    line-height: 1.1;
    font-family: var(--main-front);
}

.AboutInfo_Text {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    text-align: center;
}

.AboutInfo_teleskop,
.AboutInfo_programm,
.AboutInfo_zalov {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.AboutIndo_img{
    display: none;
}

.secondthird_block{
    width: 100%;
}

.secondthirdabout_block{
    width: 100%;
    display: flex;
    justify-content: center;
}






/* === Events section === */
.Events_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Events_header_name {
    font-size: 20px;
    line-height: 1.1;
    color: var(--white-color);
}

.Events_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.Events_button_programm,
.Events_button_activity,
.Events_button_lection {
    padding: 10px 14px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    text-align: center;
}

.Events_button_programm {
    background-color: var(--main-color);
}

.Events_button_activity,
.Events_button_lection {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0);
}

.Events_photo {
    position: relative;
    margin-bottom: 20px;
}

.Events_photo_age {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 12px;
    line-height: 1;
    font-family: var(--text-front);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.Events_photo_picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Events_about_title {
    font-size: 10px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--white-color);
    margin-bottom: 10px;
}

.Events_main_title {
    font-size: 16px;
    line-height: 1.2;
    color: var(--white-color);
    margin-bottom: 20px;
    white-space: pre-line;
}

.Events_about_programm {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--white-color);
    margin-bottom: 20px;
    white-space: pre-line;
}

.Events_cost {
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
}

.Events_cost_children,
.Events_cost_people {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--white-color);
    font-family: var(--text-front);
}

.Events_cost_icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Events_content_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.Events_content_button_select_data {
    padding: 10px 14px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: var(--text-front);
    font-weight: 500;
}

.Events_content_button_select_data_active {
    width: 9px;
    height: 5px;
    margin-left: 9px;
    border-radius: 2px;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.4);
}

.Events_content_button_buy_ticket {
    padding: 14px 15px;
    border-radius: 100px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.2;
    font-family: var(--main-front);
    font-weight: 400;
}

.Events_show_more {
    padding: 16px 81px;
    border-radius: 31px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: var(--main-front);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.Events_secondThird{
    display: none;
}
/* === Sales section === */
.Sales {
    margin-top: 80px;
    color: var(--white-color);
}

.Sales_name {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    align-items: center;
}

.Sales_title{
    font-size: 20px;
    color: var(--white-color);
}

.All_sales_info{
    display: flex;
    justify-content: center;
}

.Sales_block_all2,.Sales_block_all1{
    display: none;
}

.Sales_block {
    width: 290px;
    height: 104px;
    padding: 20px;
    border-radius: 0 53px 31px 31px;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column-reverse wrap;
    position: absolute;
    top: 200px;
}

.Sales_block1{
    width: 290px;
    height: 104px;
    padding: 20px;
    border-radius: 0 53px 31px 31px;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column-reverse wrap;
    position: absolute;
    top: 200px;
}

.Sales_block2{
    right: 0;
    width: 290px;
    height: 104px;
    padding: 20px;
    border-radius: 0 53px 31px 31px;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column-reverse wrap;
    position: absolute;
    top: 200px;
}

.Sales_block_name {
    width: 140px;
    font-size: 12px;
    line-height: 1.1;
    white-space: pre-line;
    color: var(--white-color);
}

.Sales_block_about {
    width: 212px;
    font-size: 10px;
    line-height: 1.4;
    font-family: var(--text-front);
    white-space: pre-line;
    margin-top: 10px;
    gap: 10px;
    color: var(--white-color);
}


.Sales_block_link {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    background-color: var(--main-color);
    right: 0;
}

.Sales_block_link_a {
    width: 28px;
    height: 28px;
    display: flex;
    top: 100%;
}

.Sales_button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.Sales_block_info {
    z-index: 1;
}

.Sales_block_img {
    width: 290px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:52px ;
}

.Sales_block_all {
    position: relative;
}

/* === Feedback section === */


.Feetback_title {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.1;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.Feetback_first {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.stori2,.stori3,.stori4{
    display: none;
}
.stori1{
    display: flex;
    justify-content: center;
}

.Find_map2{
    display: none;
}

.Feetback_first_stori {
    z-index: 100;
}

.Feetback_first_stori_photo {
    width: 290px;
    height: 400px;
    border-radius: 30px;
}

.Feetback_first_stori_header {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 47px;
    gap: 7px;
}

.Feetback_first_stori_user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    left: 35px;
    top: 23px;
}

.Feetback_first_stori_details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.Feetback_first_first_star {
    position: absolute;
    bottom: 25%;
    left: 79%;
}

.Feetback_first_second_star {
    position: absolute;
    left: 75%;
    bottom: 30%;
}

.Feetback_first_first_commit {
    width: 139px;
    height: 26px;
    border-radius: 30px;
    padding: 3px 18px 0 18px;
    background-color: var(--white-color);
    color: var(--main-color);
    rotate: -15deg;
    font-size: 10px;
    display: flex;
    position: absolute;
    left: 35%;
    bottom: 15%;
}

.Feetback_first_second_commit {
    width: 139px;
    height: 26px;
    border-radius: 30px;
    padding: 3px 18px 0 18px;
    background-color: var(--main-color);
    color: var(--white-color);
    rotate: -5deg;
    font-size: 10px;
    display: flex;
    position: absolute;
    left: 42%;
    bottom: 9%;
    z-index: 1;
}

/* === Consultation section === */
.Consultation {
    margin-top: 80px;
    color: var(--white-color);
}

.Consultation_title {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 40px;
    white-space: pre-line;
}

.Consultation_welcome_title {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    white-space: pre-line;
    text-align: center;
    margin: 30px 0;
}

.Consultation_form {
    margin: 10px;
}

.Consultation_form_input1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Consultation_form_input {
    width: 100%;
    height: 38px;
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid var(--white-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--black-color);
    font-family: var(--text-front);
    cursor: pointer;
    margin-bottom: 10px;
}

.Consultation_form_input::placeholder {
    font-size: 12px;
    line-height: 40px;
    color: var(--white-color);
}

.Consultation_form_input_button {
    width: 100%;
    height: 31px;
    padding: 10px 30px;
    border-radius: 55px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 12px;
    line-height: 0.9;
    font-family: var(--main-front);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Consultation_form_tagging {
    font-size: 10px;
    line-height: 1.2;
    font-family: var(--text-front);
    white-space: pre-line;
    text-transform: lowercase;
    margin-top: 10px;
    align-items: center;
}

/* === Question section === */
.Question_Title {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 30px;
    margin-top: 80px    ;
}


summary {
    list-style: none;

}

details[open] .plus {
    display: none;
}

details:not([open]) .minus {
    display: none;
}

details:not([open]) p {
    color: var(--main-color);
}

.Question_accordion_1 ,  .Question_accordion_2, .Question_accordion_3{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--white-color);
    color: (--black-color);
    padding: 16px 0 16px 20px;
    border-radius: 30px;
    padding: 16px 20px;
    min-height: 84px;
    font-size: 12px;
}

.margin-bottom_20{
    color: var(--white-color);
    font-family: var(--text-front);
    font-size: 12px;
    line-height: 1.4;
    margin-top: 20px;
}

.Question_button {
    width: 100%;
    height: 46px;
    padding: 16px 20px;
    border-radius: 55px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-family: var(--main-front);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Question_accordion_title{
    margin-top: 20px;
}

/* === Find section === */
.Find {
    margin-top: 80px;
}

.Find_title {
    font-size: 20px;
    line-height: 1.1;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.Find_map {
    margin-top: 30px;
    position: relative;
}

.Find_map_point {
    position: absolute;
    left: 46%;
    bottom: 43%;
}

.Find_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Find_info_adress {
    width: 200px;
    height: 59px;
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--white-color);
    text-align: center;
    white-space: pre-line;
    margin-top: 10px;
}

.Find_info_icon_locatin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.Find_SM {
    gap: 20px;
}

.Find_info_contact {
    display: flex;
    gap: 30px;
    font-family: var(--text-front);
    margin-top: 20px;
}

.Find_mailing {
    width: 290px;
    height: 180px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--white-color);
    color: var(--main-color);
    white-space: pre-line;
    display: flex;
    flex-direction: column;
}

.text-field {
    font-size: 16px;
    line-height: 1.2;
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--main-color);
}

.text_field_button {
    width: 250px;
    height: 34px;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.2;
    font-family: var(--main-family);
    font-weight: 400;
}

.Politica {
    font-size: 12px;
    line-height: 1.4;
    font-family: var(--text-front);
    color: var(--white-color);
    margin-top: 20px;
    display: flex;
    justify-self: center;
}

.form__input {
    width: 250px;
    height: 38px;
    padding: 11px 27px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0);
    color: var(--black-color);
    font-family: var(--text-front);
    cursor: pointer;
    margin-bottom: 10px;
}

.form__input::placeholder {
    text-align: center;
    line-height: 40px;
}

.Find_mailing_title {
    font-size: 16px;
}

.Find_mailing {
    margin-top: 30.1px;
}


.stori1{
    width: 100%;
}

.All_sales_info{
    gap:30px;
    width: 100%;
    height: 100%;
}

.allstori1 {
    width: 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.stori11 {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}


.stori12,.stori13,.stori14{
    display: none;
}


@media (min-width: 740px) {



    .Container {
        margin-left:142px ;
        margin-right: 142px;
    }
    .Events_costbut{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:30px ;
    }

    .Events_content_button{
        margin-bottom: 0;
    }

    .Events_about_programm{
        font-size: 14px;
    }

    .class2{
        display: block;
    }
}


@media (min-width:1024px) {
    .Events_secondThird{
        display: block;

    .hero{
        width: clamp(1024px, 1, 1920px);
        height: clamp(270px, 1, 493px);
        }
    }   
    .firstBlockName{
        white-space: pre-line;
    }
    .first_block{
        background-size: contain;
        max-width: 1920px;
    }
    .stori2,.stori1,.stori3{
        display: block;
        max-height: 330px;
        max-width: 240px;
    }


    .allstori_lap{
        display: flex;
        flex-direction: row;
        gap:10px;
        margin-top: 40px;
        max-height: 330px;
    }

    .Sales_block_all2,.Sales_block_all1{
        display: block;
        position: relative;
    }

    .stori12,.stori13{
        display: block;
    }

    .allstori1{
        height: 330px;
        gap:10px
    }
}


@media (min-width: 1024px) {
    .first_block{
        background-color: rgb(255, 255, 255);
        background-image: url(./images/FirstBlockMedia.svg);
        max-height: 100%;
        background-position: 100%;
        background-repeat:no-repeat ;
    }
    .firstBlockName{
        font-size: 32px;
    }
    .firstBlockText{
        font-size: 20px;
    }
    .second_block{
        margin-top: 10px;
        min-width: 235px;
        min-height: 100px;
        
    }
    .third_block{
        min-width: 235px;
        min-height: 150px;
        margin-top: 0px;
        padding: 20px;
    }
    .secondthirdabout_block{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .secondthird_block{
        display: flex;
        flex-direction: column-reverse;
        max-width: 235px;
        min-block-size: 0%;
        margin-right: 10px;
    }

    .AboutInfo{
        display: none;
    }
    .AboutIndo_img{
        display: block;
    }

    .Events_laptop{
        display: flex;
    }
    .Events_laptop_center{
        display: flex;
        margin-left:80px;
        margin-top: 40px;
        flex-direction: column;
    }
    .Consultation_welcome_photo{
        width: 100%;
        border-radius: 55px;
    }

    .Consultation_welcome_title{
        font-size: 14px;
        width: 60vw;
        margin: 30px auto;
    }

    .Find_map{
        min-width: 100%;
        min-height: 100%;
    }

    .Find_info{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .Find_info_icon_locatin,.Find_info_contact,.Find_info_adress{
        margin: 0;
    }
    .Find_mailing{
        width: 100%;
        display: flex;
        max-height:146px ;
    }
    .Find_mailing_title{
        font-size: 20px;
    }

    .email_foll{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        gap:5px;
    }
    .form__input  {
        width: 40vw;
    }

    .Find_info_adress{
        align-content: center;
        width: 100%;
    }
    .full_adress{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .Find_info_icon_locatin{
        margin-right: 10px;
    }
    .Find_tel{
        align-content: center;
    }
    .Find_mailing{
        margin-top: 10px;
    }

    .Question_accordion_1,.Question_accordion_2,.Question_accordion_3{
        font-size:16px ;
    }
    .Question_accordion_text{
        width: 60vw;
    }

    .margin-bottom_20{
        font-size: 14px;
    }
    .Sales_block_img{
        width: 240px;
        height: 270px;
    }
    .Sales_block2,.Sales_block1,.Sales_block{
        padding: 16px;
        width: 240px;
        height: 175px;
        min-height: 175px;
        display: flex;
        flex-flow: column wrap;
    } 
    .Sales_block_link{
        flex-direction: column-reverse;
        position: absolute;
        left: 84%;
        top: 76%;
    }
    .Sales_button{
        margin-top:80px ;
    } 
    .Sales_name{
        margin-bottom: 30px;
    }
}
.Question_accordion_1,.Question_accordion_2,.Question_accordion_3{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 1440px){

    .stori14{
        display: block;
    }

    .allstori1{
        height: 427px;
        gap:10px
    }

    .Container {
        margin-left:290px ;
        margin-right: 290px ;
        align-items: center;
    }
}

@media (min-width: 1920px){

    .Question_button{
        height: 76px;
    }
    .Container {
        margin-left:290px ;
        margin-right: 290px ;
        max-width: 1340px;
    }

    .stori2,.stori1,.stori3,.stori4{
        display: block;
        max-height: 330px;
        gap:30px
    }

    .allstori{
        display: flex;
        justify-content: center;
        gap:30px;
        margin-top: 40px;
        max-height: 330px;

    }
    .Events_dekstop_center{
        display: flex;
        margin-bottom: 30px;
    }

    .Events_about_programm{
        margin-bottom: 0px;

    }

    .Events_laptop{
    }

    .Events_dekstop{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .Events_about_programm_costbut{
        margin-left: 42px;
    }

    .Events_costbut{
        margin-top:30px ;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .Events_about_programm{
        font-size: 16px;
    }

    .Events_main_title{
        font-size: 20px;
    }

    .Events_photo_picture{
        width: 313px;
        height: 159px;
    }

    .firstBlockName{
        font-size: 64px;    
    }

    .first_block{
        height: 493px;
    }

    .firstBlockButton{
        max-width: 280px;
        max-height: 68px;
        min-width: 280px;
        top: 405px;
        left: 329.97px;
        gap: 10px;
        border-radius: 50px;
        padding: 20px;
        font-size: 20px;
    }
    .firstBlockText{white-space: pre-line;}

    .AboutIndo_img{
        width: 899px;
    }

    .third_block{
        width: 427px;
        height:282px;
        border-radius: 55px;
    }

    .second_block{
    width: 427px;
    height: 199px;
    border-radius: 55px;
    }

    .thirdBlockName, .secondBlockName{
        font-size: 40px;
    }

    .thirdtBlockText, .secondBlockText{
        font-size: 20px;
        width: 202px;
    }   

    .thirdBlockButtonRz{
        width: 58px;
        height: 58px;
        margin: 0; padding: 0;
    }

    .Container{
        margin-left:290px ;
        margin-right: 290px ;
        max-width: 1340px;
        margin: 0 auto;
    }
    .secondthirdabout_block{
        justify-content: space-between;
    }

    .Find_map{
        display: none;
    }
    .Find_map2{
        margin-top: 30px;
        display: block;
    }
    .Find_info{
        justify-content: space-between;
    }

    .Find_mailing{
        width: 45vw;
        border-radius:100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 36px 50px;
    }

    .form__input{
        width:12vw;
    }

    .Find_mailing_title{
        width: 181px;
    }

    .foorLast{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    .Events_header_name,.Sales_title,.Feetback_title,.Question_Title,.Consultation_title,.Find_title{
        font-size: 56px;

    }

    .Sales_block_img{
        width: 426px;
        height: 457px;
    }
    .Sales_block2,.Sales_block1,.Sales_block{
        position: relative;
        top:70%;
        padding: 16px;
        width: 426px;
        height: 167px;
        min-height: 175px;
        display: flex;
        flex-flow: column wrap;
    } 
    .Sales_block_link{
        flex-direction: column-reverse;
        position: absolute;
        left: 84%;
        top: 60%;
        width:  50px;
        height: 50px;
    }
    .Sales_block_name{
        white-space: pre-line;
        width: 200px;
        font-size: 20px;
    }

    .Sales_block_about{
        width: 300px;
        font-size: 16px;
    }

    .burger_button{
        display: none;
    }

    .center_header{
        display: block;
        font-family: var(--text-front);
    }
    ul{
        display: flex;
        gap:32px;
        padding: 0;
        margin: 0;
    }

    .center_header1{
        font-family: var(--text-front);
        font-size: 16px;
    }

    .nav{
        font-family: var(--text-front);
    }
}

